body {
  background: #f2f7fb;
  color: #3f3f3f;
  font-family: 'Montserrat', sans-serif;
  }

.container {
  border-radius: 10px;
  background: #f2f7fb;
  box-shadow: 0px 0px 12px 3px #E3E9EE;
  display: block;
  width: 400px;
  min-height: 450px;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px 30px 30px 30px;
}

.header__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}

.header__input {
  display: flex;
  justify-content: space-between;
}

.input {
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  font-size: 16px;
}

.add-button {
  width: 20%;
  padding: 10px;
  background: #fd5d76;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 56px;
  font-weight: 600;
}

.add-button:hover {
  background-color: #f74c66;
}

.content {
  background-color: white;
  border-radius: 10px;
  height: 100%;
  flex-grow: 2;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.list__item {
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  padding: 12px 50px;
}

.list__item:hover {
  background-color: #fff7f8;
}

.list__item--checked::before {
  content: '';
  position: absolute;
  border-color: #f74c66;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 12px;
  left: 25px;
  transform: rotate(45deg);
  height: 13px;
  width: 5px;
}

.close {
  position: absolute;
  right: 50px;
  font-size: 17px;
}

.close:hover {
  color: #fd5d76;
}